<%- include("header")-%>
<h1>Hello Its Arshad Here</h1>

<p>hey there its a todo list made by muhammad Arshad from wayanad with the help of my udemy teacher named Angels Yu.</p>
<%- include("footer")-%>